body{
    margin: 0;
}

.headerNavi{
    text-decoration-line: none;
    font-weight: bold;
    color: rgb(34, 75, 211);
}

/* 헤더 */
.header-sticky{
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: var(--main-header-height);
    padding: 0 10px;
    font-size: 16px;
    background-color: white;
    background: linear-gradient(to top, #ffffff, #f0f8ff);
    border-top: 2px solid #7ea6ff;
}

/* 메인*/
.article-main-layout {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100dvh;
}

.article-content-area {
    flex: 1; 
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}