/* 전체 레이아웃 */
.community-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100dvh;
}
.header-wrapper {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: var(--main-header-height);
    padding: 0 10px;
    font-size: 16px;
    background-color: white;
    background: linear-gradient(to top, #ffffff, #f0f8ff);
    border-top: 2px solid #7ea6ff;
}

/* 2. 로고와 타이틀 영역 */
.commu-container {
    margin-top: 5px; /* 헤더들 높이 합산 */
    width: 100%;
    max-width: 600px; /* 리스트 너비와 일치 */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1; 
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.headerNavi{
    text-decoration-line: none;
    font-weight: bold;
    color: rgb(34, 75, 211);
}

/* 푸터 */
.header-sticky{
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: var(--main-header-height);
    padding: 0 10px;
    font-size: 16px;
    background-color: white;
    background: linear-gradient(to top, #ffffff, #f0f8ff);
    border-top: 2px solid #7ea6ff;
}

.commu-header {
    padding: 10px 20px;
    text-align: center;
    background: linear-gradient(to bottom, #ffffff, #f0f8ff);
    border-bottom: 2px solid #7ea6ff;
    box-sizing: border-box;
}

/* 3. 게시글 리스트가 들어가는 곳 */
.commu-content {
    width: 100%;
    overflow-y: auto; /* 스크롤 추가 */
    padding: 10px; /* CommunityList.css의 .list-container 패딩과 일치 */
    box-sizing: border-box;
}

.mini-title{
    font-size: 13px;
    margin: 5px;
}
.main-logo-img {
    width: 80px;
    height: auto;
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
    0% { transform: translateY(10px); }
    50% { transform: translateY(0px); }
    100% { transform: translateY(10px); }
}
.commu-header h1 {
    font-size: 1.5rem;
    color: #7ea6ff;
    font-weight: 900;
    letter-spacing: 3px;
    margin: 0;
}
.commu-content {
    flex: 1;
}